@font-face {
    font-family: "IBMPlexSans Regular";
    src: url(../fonts/IBMPlexSans-Thin.ttf);
}

@font-face {
    font-family: "IBMPlexSans Light";
    src: url(../fonts/IBMPlexSans-Light.ttf);
}

@font-face {
    font-family: "IBMPlexSans Medium";
    src: url(../fonts/IBMPlexSans-Medium.ttf);
}

@font-face {
    font-family: "IBMPlexSans Bold";
    src: url(../fonts/IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: "IBMPlexSans SemiBold";
    src: url(../fonts/IBMPlexSans-SemiBold.ttf);
}

body{
    margin: 0;
    font-family: "IBMPlexSans Regular", Verdana;
    color: #ffffff;
    text-align: center;
}

li {
    list-style-type: none;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #c1c4c5;
    overflow: hidden;
    font-size: 15px;
}

.displayNone {
    display: none;
}

.homeCntr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/mask.png) no-repeat center;
    opacity: .98;
    background-size: 100%;
}

.photoCollage {
    width: 105%;
}

.photoCollage div {
    width: 40px;
    height: 40px;
    float: left;
    transition: all 4s ease;
    background: url(../images/defaultSliderImg.png) no-repeat center; 
    background-size: cover;
}

.logoCntr {
    position: absolute;
    left: 0;
    top: 0;
    margin: 38px;
    z-index: 5;
}

.logo {
    background: url(../images/logo.png) no-repeat center;
    background-size: 100%;
    width: 88px;
    height: 65px;
    display: inline-block;
}

.logoCntr p {
    font-family: "IBMPlexSans Medium", Verdana;
    font-size: 18px;
    vertical-align: bottom;
    display: inline-block;
    padding: 0 22px 5px;
}

.ibmLogo {
    position: absolute;
    right: 0;
    background: url(../images/IBMLogo.png) no-repeat center;
    background-size: contain;
    width: 80px;
    height: 35px;
    top: 0;
    margin: 45px 55px;
    z-index: 5;
}

.ibmLogoBlue {
    position: absolute;
    left: 0;
    right: 0;
    background: url(../images/IBMLogoBlue.png) no-repeat center;
    background-size: auto 100%;
    height: 25px;
    top: 29%;
    opacity: .71;
}

.beEqualLable {
    position: absolute;
    font-family: "IBMPlexSans Medium", Verdana;
    left: 0;
    right: 0;
    height: 25px;
    top: 40%;
    color: #0062ff;
    font-size: 24px;
    opacity: .71;   
}

.textContainer {
    color: #fff;
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 35px auto;
    width: 59%;
}

.textContainer h2 {
    color: #0660f5;
    font-size: 28px;
    margin: 0;
    font-family: "IBMPlexSans SemiBold", Verdana;
}

.homeCntr p {
    margin: 10px auto 25px;
    font-size: 16px;
    font-family: "IBMPlexSans Light", Verdana;
}

.homeCntr h4 {
    font-family: "IBMPlexSans Bold", Verdana;
    font-size: 19px;
    margin: 17px;
}

.button {
    background: #0660f5;
    padding: 18px 35px;
    font-family: "IBMPlexSans Bold", Verdana;
    font-size: 22px;
    color: #fff;
    border: none;
    outline: none;
}

.button.secondary{
    background: none;
    border: 1px solid #ffffff;
    font-family: "IBMPlexSans SemiBold", Verdana;
    font-size: 16px;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: #000;
    opacity: .93; */
    background: rgba(0, 0, 0, .92);
}

/* .contentBlock {
    width: 218px;
    height: 162px;
    margin: 32% auto;
    position: relative;
} */

.contentBlock {
    width: 178px;
    height: 138px;
    margin: 25% auto;
    position: relative;
}

.contentBlock .navigationCntr {
    /* background: #000; */
    color: #0660f5;
    font-size: .9em;
    text-align: center;
    line-height: 35px;
    height: 25%;
    position: relative;
}

.contentBlock .navigation {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;
    font-family: "IBMPlexSans Medium";
    color: #cccccc;
    font-size: 7px;
}

.navigationCntr .textCntr{
    font-family: "IBMPlexSans Medium";
    font-size: 24px;
    opacity: .71;
}

.contentBlock .carouselTop, 
.contentBlock .carouselBottom {
    content: '';
    width: 100%;
    height: 33.5%;
    /* background: #0660f5; */
    background: rgba(6, 96, 245, 0);
    -webkit-box-shadow: inset 0px 0px 71px 9px #040fad;
    -moz-box-shadow: inset 0px 0px 71px 9px #040fad;
    box-shadow: inset 0px 0px 71px 9px #040fad;
    padding: 2px;
    box-sizing: border-box;
}

.transition{
    transition: all 3s ease;
    transform: scale(4) translateY(17%);

}

.transition .navigation {
    transition: opacity 2s ease 1s;
    opacity: 1;
}

.transition .textCntr {
    transition: opacity 2s ease;
    opacity: 0;
}

.transition .carouselTop, 
.transition .carouselBottom{
    transition: background-color 3s ease;
    background-color: rgba(13, 29, 183, 1);
}

/* .sliderLeftNav,
.sliderRightNav {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin: 5px;
    border-radius: 50%;
}

.sliderLeftNav {
    background: #ccc;
}

.sliderRightNav {
    background: #1a6bf3;
} */
.sliderItem {
    /* width: 53px; */
    height: 42px;
    background: url(../images/defaultSliderImg.png) no-repeat center;
    background-size: cover;
}

#chooseYourPhoto .owl-carousel {
    opacity: 0;
}
#chooseYourPhoto .enableSlider .owl-carousel {
    transition: opacity 3s ease;
    opacity: 1;
}

#chooseYourPhoto .owl-carousel .owl-nav .owl-prev,
#chooseYourPhoto .owl-carousel .owl-nav .owl-next {
    /* background: url('left-icon.png') no-repeat; */
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    /* margin: 5px; */
    outline: none;
}

#chooseYourPhoto .owl-carousel .owl-nav .owl-prev {
    background: url(../images/navLeft.png);
    background-size: cover;
}

#chooseYourPhoto .owl-carousel .owl-nav .owl-next {
    background: url(../images/navRight.png);
    background-size: cover;
}

#chooseYourPhoto .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 0px;
    top: 133px;
}

#chooseYourPhoto .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 0px;
    top: 66px;
}

#chooseYourPhoto .owl-carousel .owl-nav .owl-prev.disabled {
    background: url(../images/disabledNavLeft.png);
    background-size: cover;
}

#chooseYourPhoto .owl-carousel .owl-nav .owl-next.disabled {
    background: url(../images/disabledNavRight.png);
    background-size: cover;
}

#chooseYourPhoto .carouselBottom .owl-carousel .owl-nav {
    display: none;
}

.yourPledgCntr {
    margin: 90px 120px;
}

.yourPhoto img {
    width: 100%;
}

.yourPledgCntr p {
    font-size: 23px;
    margin: 0px auto 20px;
}
.pledgeCntr li {
    border: 1px solid #0062ff;
    padding: 15px 10px;
    margin: 5px;
    line-height: 25px;
    font-size: 19px;
}

.pledgeCntr {
    font-size: 0;
}

.pledgeCntr div{
    display: inline-block;
}

.pledgeLeft,
.pledgeRight {
    width: 25%;
}

.yourPhoto {
    /* width: 46%;
    border: 20px solid #fff;
    box-sizing: border-box;
    height: 730px;
    vertical-align: top;
    margin: 10px 30px; */
    width: 365px;
    height: 365px;
    border: 10px solid #fff;
    box-sizing: border-box;
    vertical-align: top;
    margin: 5px 13px;
}

.pledgeCntr ul {
    padding: 0;
    margin: 0;
    font-size: 19px;
}

.yourOwnPledgeLabel {
    margin: 15px auto 10px;
}

.yourOwnPledgeLabel span {
    background: #5078b7;
    padding: 9px;
    border-radius: 50%;
    position: relative;
    font-family: "IBMPlexSans SemiBold";
    font-size: 17px;
}

.yourOwnPledgeLabel span:before {
    content: '';
    position: absolute;
    width: 130%;
    height: 130%;
    top: -17%;
    left: -17%;
    border-radius: 50%;
    border: 1px dotted #797979;
}

.yourOwnPledgeLabel p {
    font-family: "IBMPlexSans Regular";
    display: inline-block;
    margin: 10px;
}

.yourOwnPledgeInput p {
    display: inline-block;
    font-family: "IBMPlexSans SemiBold";
    font-size: 25px;

}

.yourOwnPledgeInput input {
    width: 485px;
    background: transparent;
    font-family: "IBMPlexSans SemiBold";
    border: 0;
    border-bottom: 1px solid #0062ff;
    height: 35px;
    vertical-align: text-bottom;
    margin-left: 10px;
    outline: none;
    color: #fff;
    font-size: 25px;
}

.maskLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .69);
    z-index: 6;
}

.popup {
    /* width: 1135px; */
    position: absolute;
    max-width: 650px;
}

.popup div {
    background: #0660f5;
    padding: 20px;
    margin-top: -1px;
}

.popup .selectedPledge {
    box-sizing: border-box;
    font-family: "IBMPlexSans Bold";
    font-size: 20px;
    padding: 15px;
}

.shareCntr .myPledgeText span{
    font-family: "IBMPlexSans Bold";
}

.popup .confirmPledgeCntr {
    text-align: left;
}

.popup p {
    margin: 0;
    padding: 0px 0px 10px;
    font-size: 18px;
}

.popup p span{
    font-family: "IBMPlexSans Medium";
}

.popup .chooseThis {
    margin-right: 8px;
}

.shareCntr {
    width: 615px;
    margin: 80px auto;
}

.shareCntr h2 {
    font-family: "IBMPlexSans Medium";
    font-size: 22px;
    margin: 0 70px 25px;
    color: #cccccc;
}

.shareCntr p {
    background: #ffffff;
    font-family: "IBMPlexSans Medium";
    font-size: 15px;
    color: #000000;
    padding: 7px 15px;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    width: 488px;
    box-sizing: border-box;
}

.shareCntr .myPledgeText span{
    font-family: "IBMPlexSans Bold";
}
.previewCntr {
    font-size: 0;
    margin: 15px auto 7px;
    display: flex;
}

.previewIcon {
    width: 135px;
    display: inline-flex;
    vertical-align: bottom;
    /* background-color: #d1d1d1; */
    background: url(../images/twitterPreviewIcon.png) no-repeat center;
    /* background-size: 100%; */
}   

.shareCntr .photoCntr {
    width: 485px;
    height: 485px;
    background: #ffffff;
    box-sizing: border-box;
    margin: 0 auto;
    border: 20px solid #ffffff;
    position: relative;
}

.photoCntr img {
    width: 100%;
    height: 100%;
}
.photoCntr .tagCntr {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 22px 17px;
}

.photoCntr .tagCntr p {
    background: transparent;
    color: #ffffff;
    font-size: 35px;
    padding: 0;
    float: left;
    font-family: "IBMPlexSans Medium";
}

.photoCntr .tagCntr .ibmLogo {
    margin: 0;
    top: 5px;
    width: 70px;
}

/* .shareCntr .btnCntr {
    margin: 40px;
} */

.btnCntr {
    position: absolute;
    margin: 20px;
    right: 0;
    top: 45%;
    margin: 30px;
}

.btnCntr .button{
    font-size: 19px;
    height: 50px;
    width: 155px;
    padding: 10px;
    margin: auto 1px;
}

/* .shareCntr .emailBtm span {
    background: url(../images/emailIcon.png) no-repeat center;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
} */

.btnCntr .twitterBtn span{
    background: url(../images/twitterIcon.png) no-repeat center;
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}

#emailAndShare .goBack {
    position: absolute;
    left: 0;
    top: 40%;
    margin: 30px;
}

#emailAndShare .goBack p {
    font-size: 13px;
    width: 100px;
    font-family: "IBMPlexSans SemiBold";
    text-align: left;
    background: url(../images/backArrow.png) no-repeat left;
    background-size: 15%;
    margin: 0;
    padding: 35px;
}

.photoMask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%);
    background: -webkit-linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%);
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%);
}


@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: #c1c4c5;
        overflow: hidden;
        font-size: 30px;
    }
    
    .displayNone {
        display: none;
    }
    
    .homeCntr {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../images/mask.png) no-repeat center;
        opacity: .98;
        background-size: 100%;
    }
    
    .photoCollage {
        width: 105%;
    }
    
    .photoCollage div {
        width: 80px;
        height: 80px;
        float: left;
        transition: all 4s ease;
        background: url(../images/defaultSliderImg.png) no-repeat center; 
        background-size: cover;
    }
    
    .logoCntr {
        position: absolute;
        left: 0;
        top: 0;
        margin: 75px;
        z-index: 5;
    }
    
    .logo {
        background: url(../images/logo.png) no-repeat center;
        background-size: 100%;
        width: 175px;
        height: 130px;
        display: inline-block;
    }
    
    .logoCntr p {
        font-family: "IBMPlexSans Medium", Verdana;
        font-size: 35px;
        vertical-align: bottom;
        display: inline-block;
        padding: 0 45px 10px;
    }
    
    .ibmLogo {
        position: absolute;
        right: 0;
        background: url(../images/IBMLogo.png) no-repeat center;
        background-size: contain;
        width: 160px;
        height: 70px;
        top: 0;
        margin: 90px 110px;
        z-index: 5;
    }
    
    .ibmLogoBlue {
        position: absolute;
        left: 0;
        right: 0;
        background: url(../images/IBMLogoBlue.png) no-repeat center;
        height: 50px;
        top: 29%;
        opacity: .71;
    }
    
    .beEqualLable {
        position: absolute;
        font-family: "IBMPlexSans Medium", Verdana;
        left: 0;
        right: 0;
        height: 50px;
        top: 40%;
        color: #0062ff;
        font-size: 48px;
        opacity: .71;   
    }
    
    .textContainer {
        color: #fff;
        text-align: center;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: 90px auto;
        width: 60%;
    }
    
    .textContainer h2 {
        color: #0660f5;
        font-size: 56px;
        margin: 0;
        font-family: "IBMPlexSans SemiBold", Verdana;
    }
    
    .homeCntr p {
        margin: 20px auto 50px;
        font-size: 33px;
        font-family: "IBMPlexSans Light", Verdana;
    }
    
    .homeCntr h4 {
        font-family: "IBMPlexSans Bold", Verdana;
        font-size: 38px;
        margin: 35px;
    }
    
    .button {
        background: #0660f5;
        padding: 36px 70px;
        font-family: "IBMPlexSans Bold", Verdana;
        font-size: 44px;
        color: #fff;
        border: none;
        outline: none;
    }
    
    .button.secondary{
        background: none;
        border: 2px solid #ffffff;
        font-family: "IBMPlexSans SemiBold", Verdana;
        font-size: 32px;
    }
    
    .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background: #000;
        opacity: .93; */
        background: rgba(0, 0, 0, .92);
    }
    
    .contentBlock {
        width: 437px;
        height: 325px;
        margin: 32% auto;
        position: relative;
    }
    
    .contentBlock .navigationCntr {
        /* background: #000; */
        color: #0660f5;
        font-size: 1.8em;
        text-align: center;
        line-height: 90px;
        height: 30%;
        position: relative;
    }
    
    .contentBlock .navigation {
        position: absolute;
        width: 100%;
        opacity: 0;
        top: 0;
        font-family: "IBMPlexSans Medium";
        color: #cccccc;
        font-size: 14px;
    }
    
    .navigationCntr .textCntr{
        font-family: "IBMPlexSans Medium";
        font-size: 48px;
    }

    .contentBlock .carouselTop, 
    .contentBlock .carouselBottom {
        content: '';
        width: 100%;
        height: 34%;
        /* background: #0660f5; */
        background: rgba(6, 96, 245, .3);
        -webkit-box-shadow: inset 0px 0px 71px 9px #040fad;
        -moz-box-shadow: inset 0px 0px 71px 9px #040fad;
        box-shadow: inset 0px 0px 71px 9px #040fad;
        padding: 3px;
        box-sizing: border-box;
    }
    
    .transition{
        transition: all 3s ease;
        transform: scale(3.2);
    }
    
    .transition .navigation {
        transition: opacity 2s ease 1s;
        opacity: 1;
    }
    
    .transition .textCntr {
        transition: opacity 2s ease;
        opacity: 0;
    }
    
    .transition .carouselTop, 
    .transition .carouselBottom{
        transition: background-color 3s ease;
        background-color: rgba(13, 29, 183, 1);
    }
    
    /* .sliderLeftNav,
    .sliderRightNav {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin: 5px;
        border-radius: 50%;
    }
    
    .sliderLeftNav {
        background: #ccc;
    }
    
    .sliderRightNav {
        background: #1a6bf3;
    } */
    .sliderItem {
        /* width: 106px; */
        height: 106px;
        background: url(../images/defaultSliderImg.png) no-repeat center;
        background-size: cover;
    }
    
    #chooseYourPhoto .owl-carousel {
        opacity: 0;
    }
    #chooseYourPhoto .enableSlider .owl-carousel {
        transition: opacity 3s ease;
        opacity: 1;
    }
    
    #chooseYourPhoto .owl-carousel .owl-nav .owl-prev,
    #chooseYourPhoto .owl-carousel .owl-nav .owl-next {
        /* background: url('left-icon.png') no-repeat; */
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        /* margin: 5px; */
        outline: none;
    }
    
    #chooseYourPhoto .owl-carousel .owl-nav .owl-prev {
        background: url(../images/navLeft.png);
        background-size: cover;
    }
    
    #chooseYourPhoto .owl-carousel .owl-nav .owl-next {
        background: url(../images/navRight.png);
        background-size: cover;
    }
    
    #chooseYourPhoto .owl-carousel .owl-nav .owl-next {
        position: absolute;
        right: 0px;
        top: 133px;
    }
    
    #chooseYourPhoto .owl-carousel .owl-nav .owl-prev {
        position: absolute;
        left: 0px;
        top: 133px;
    }
    
    #chooseYourPhoto .owl-carousel .owl-nav .owl-prev.disabled {
        background: url(../images/disabledNavLeft.png);
        background-size: cover;
    }
    
    #chooseYourPhoto .owl-carousel .owl-nav .owl-next.disabled {
        background: url(../images/disabledNavRight.png);
        background-size: cover;
    }
    
    #chooseYourPhoto .carouselBottom .owl-carousel .owl-nav {
        display: none;
    }
    
    .yourPledgCntr {
        margin: 180px 240px;
    }
    
    .yourPhoto img {
        width: 100%;
    }
    
    .yourPledgCntr p {
        font-size: 46px;
        margin: 0px auto 40px;
    }
    .pledgeCntr li {
        border: 2px solid #0062ff;
        padding: 30px 20px;
        margin: 10px;
        line-height: 50px;
        font-size: 38px;
    }
    
    .pledgeCntr {
        font-size: 0;
    }
    
    .pledgeCntr div{
        display: inline-block;
    }
    
    .pledgeLeft,
    .pledgeRight {
        width: 25%;
    }
    
    .yourPhoto {
        /* width: 46%;
        border: 20px solid #fff;
        box-sizing: border-box;
        height: 730px;
        vertical-align: top;
        margin: 10px 30px; */
        width: 730px;
        height: 730px;
        border: 20px solid #fff;
        box-sizing: border-box;
        vertical-align: top;
        margin: 10px 26px;
    }
    
    .pledgeCntr ul {
        padding: 0;
        margin: 0;
        font-size: 38px;
    }
    
    .yourOwnPledgeLabel {
        margin: 30px auto 15px;
    }
    
    .yourOwnPledgeLabel span {
        background: #5078b7;
        padding: 17px;
        border-radius: 50%;
        position: relative;
        font-family: "IBMPlexSans SemiBold";
        font-size: 34px;
    }
    
    .yourOwnPledgeLabel span:before {
        content: '';
        position: absolute;
        width: 130%;
        height: 130%;
        top: -17%;
        left: -17%;
        border-radius: 50%;
        border: 2px dotted #797979;
    }
    
    .yourOwnPledgeLabel p {
        font-family: "IBMPlexSans Regular";
        display: inline-block;
        margin: 20px;
    }
    
    .yourOwnPledgeInput p {
        display: inline-block;
        font-family: "IBMPlexSans SemiBold";
        font-size: 50px;
    
    }
    
    .yourOwnPledgeInput input {
        width: 970px;
        background: transparent;
        font-family: "IBMPlexSans SemiBold";
        border: 0;
        border-bottom: 2px solid #0062ff;
        height: 70px;
        vertical-align: text-bottom;
        margin-left: 20px;
        outline: none;
        color: #fff;
        font-size: 50px;
    }
    
    .maskLayer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, .69);
        z-index: 6;
    }
    
    .popup {
        /* width: 1135px; */
        position: absolute;
        max-width: 1300px;
    }
    
    .popup div {
        background: #0660f5;
        padding: 40px;
        margin-top: -1px;
    }
    
    .popup .selectedPledge {
        box-sizing: border-box;
        font-family: "IBMPlexSans Bold";
        font-size: 40px;
        padding: 30px;
    }
    
    .popup .confirmPledgeCntr {
        text-align: left;
    }

    .popup p {
        margin: 0;
        padding: 0px 0px 20px;
        font-size: 36px;
    }
    
    .popup p span{
        font-family: "IBMPlexSans Medium";
    }

    .popup .chooseThis {
        margin-right: 15px;
    }
    
    .shareCntr {
        width: 1230px;
        margin: 160px auto;
    }
    
    .shareCntr h2 {
        font-family: "IBMPlexSans Medium";
        font-size: 44px;
        margin: 0 140px 50px;
        color: #cccccc;
    }
    
    .shareCntr p {
        background: #ffffff;
        font-family: "IBMPlexSans Medium";
        font-size: 30px;
        color: #000000;
        padding: 15px 30px;
        text-align: left;
        display: inline-block;
        margin: 0 auto;
        width: 975px;
        box-sizing: border-box;
    }
    
    .shareCntr .myPledgeText span{
        font-family: "IBMPlexSans Bold";
    }
    .previewCntr {
        font-size: 0;
        margin: 30px auto 15px;
        display: flex;
    }
    
    .previewIcon {
        width: 270px;
        display: inline-flex;
        vertical-align: bottom;
        /* background-color: #d1d1d1; */
        background: url(../images/twitterPreviewIcon.png) no-repeat center;
        /* background-size: 100%; */
    }   
    
    .shareCntr .photoCntr {
        width: 975px;
        height: 975px;
        background: #ffffff;
        box-sizing: border-box;
        margin: 0 auto;
        border: 40px solid #ffffff;
        position: relative;
    }
    
    .photoCntr img {
        width: 100%;
        height: 100%;
    }
    .photoCntr .tagCntr {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 45px 35px;
    }
    
    .photoCntr .tagCntr p {
        background: transparent;
        color: #ffffff;
        font-size: 70px;
        padding: 0;
        float: left;
        font-family: "IBMPlexSans Medium";
    }
    
    .photoCntr .tagCntr .ibmLogo {
        margin: 0;
        top: 10px;
        width: 140px;
    }
    
    .btnCntr {
        position: absolute;
        margin: 40px;
        right: 0;
        top: 45%;
        margin: 60px;
    }
    
    .btnCntr .button{
        font-size: 38px;
        height: 100px;
        width: 310px;
        padding: 20px;
        margin: auto 2px;
    }
    
    /* .shareCntr .emailBtm span {
        background: url(../images/emailIcon.png) no-repeat center;
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 10px;
    } */
    
    .btnCntr .twitterBtn span{
        background: url(../images/twitterIcon.png) no-repeat center;
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 10px;
    }
    
    #emailAndShare .goBack {
        position: absolute;
        left: 0;
        top: 40%;
        margin: 60px;
    }
    
    #emailAndShare .goBack p {
        font-size: 26px;
        width: 200px;
        font-family: "IBMPlexSans SemiBold";
        text-align: left;
        background: url(../images/backArrow.png) no-repeat left;
        margin: 0;
        padding: 70px;
    }
    
    .photoMask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%);
        background: -webkit-linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%);
        background: linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%);
    }
}